In [275]:
import pandas as pd
import numpy as np

csv_file = 'SS-12026.SND'

df = pd.read_csv(csv_file)

df

                                         1142069.012000
0                                         136378.462000
1                                             49.525000
2                                              0.000000
3                                              0.000000
4                                  0.000000 0 90.000000
...                                                 ...
2122                       52.725 18664  1186   151
2123                       52.750 16285  1131   240
2124   52.775 19164  1324   321    Uppdragning: Mede...
2125   52.800  1388    39   336      Stopp mot f�rmo...
2126                                                  *

[2127 rows x 1 columns]

In [276]:
borid = csv_file.split('.')[0]

In [277]:
startIndex = np.where(df[df.columns[0]].str.contains(borid))[0].item(0)
startIndex

13

In [278]:
df = df.drop(df.index[:startIndex+1])
df.reset_index(inplace=True)

In [279]:
df = df.iloc[:,1:]

In [280]:
df

                                         1142069.012000
0            0.025   669   802    60    Y1 Tele/Matjord
1                        0.050  4987   778     7    S1
2                        0.075  7818   787    14    R1
3                           0.100  3206   756   235
4                           0.125  7257   767    13
...                                                 ...
2108                       52.725 18664  1186   151
2109                       52.750 16285  1131   240
2110   52.775 19164  1324   321    Uppdragning: Mede...
2111   52.800  1388    39   336      Stopp mot f�rmo...
2112                                                  *

[2113 rows x 1 columns]

In [281]:
df[df.columns[0]] = df[df.columns[0]].str.replace(" ","Z")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Z","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Q"," ")

In [282]:
df

                                        1142069.012000
0                     0.025 669 802 60 Y1 Tele/Matjord
1                                 0.050 4987 778 7 S1
2                                0.075 7818 787 14 R1
3                                  0.100 3206 756 235
4                                   0.125 7257 767 13
...                                                ...
2108                            52.725 18664 1186 151
2109                            52.750 16285 1131 240
2110   52.775 19164 1324 321 Uppdragning: Medelkraft=2
2111         52.800 1388 39 336  Stopp mot f�rmodat be
2112                                                 *

[2113 rows x 1 columns]

In [283]:
dfs = df[df.columns[0]].str.split(' ', expand=True)

dfs

,0,1,2,3,4,5,6,7,8,9
0,,0.025,669,802,60,Y1,Tele/Matjord,None,None,None
1,,0.050,4987,778,7,S1,,None,None,None
2,,0.075,7818,787,14,R1,,None,None,None
3,,0.100,3206,756,235,,None,None,None,None
4,,0.125,7257,767,13,,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
2108,,52.725,18664,1186,151,,None,None,None,None
2109,,52.750,16285,1131,240,,None,None,None,None
2110,,52.775,19164,1324,321,Uppdragning:,Medelkraft=2,None,None,None
2111,,52.800,1388,39,336,,Stopp,mot,f�rmodat,be
2112,*,None,None,None,None,None,None,None,None,None

In [284]:
dfs = dfs.iloc[:, 1:]
dfs

,1,2,3,4,5,6,7,8,9
0,0.025,669,802,60,Y1,Tele/Matjord,None,None,None
1,0.050,4987,778,7,S1,,None,None,None
2,0.075,7818,787,14,R1,,None,None,None
3,0.100,3206,756,235,,None,None,None,None
4,0.125,7257,767,13,,None,None,None,None
...,...,...,...,...,...,...,...,...,...
2108,52.725,18664,1186,151,,None,None,None,None
2109,52.750,16285,1131,240,,None,None,None,None
2110,52.775,19164,1324,321,Uppdragning:,Medelkraft=2,None,None,None
2111,52.800,1388,39,336,,Stopp,mot,f�rmodat,be
2112,None,None,None,None,None,None,None,None,None

In [285]:
dfs.columns = ['Dybde', 'Trykk', 'Bortid', 'Spyle', '5','6','7','8','9']

dfs

,Dybde,Trykk,Bortid,Spyle,5,6,7,8,9
0,0.025,669,802,60,Y1,Tele/Matjord,None,None,None
1,0.050,4987,778,7,S1,,None,None,None
2,0.075,7818,787,14,R1,,None,None,None
3,0.100,3206,756,235,,None,None,None,None
4,0.125,7257,767,13,,None,None,None,None
...,...,...,...,...,...,...,...,...,...
2108,52.725,18664,1186,151,,None,None,None,None
2109,52.750,16285,1131,240,,None,None,None,None
2110,52.775,19164,1324,321,Uppdragning:,Medelkraft=2,None,None,None
2111,52.800,1388,39,336,,Stopp,mot,f�rmodat,be
2112,None,None,None,None,None,None,None,None,None

In [310]:
startY = []
endY = []
startS = []
endS = []
startR = []
endR = []
for col in dfs.columns:
    startY.extend(np.where(dfs[col].str.contains('Y1'))[0].tolist())
    endY.extend(np.where(dfs[col].str.contains('Y2'))[0].tolist())
    startS.extend(np.where(dfs[col].str.contains('S1'))[0].tolist())
    endS.extend(np.where(dfs[col].str.contains('S2'))[0].tolist())
    startR.extend(np.where(dfs[col].str.contains('R1'))[0].tolist())
    endR.extend(np.where(dfs[col].str.contains('R2'))[0].tolist())

startY.sort()
endY.sort()
startS.sort()
endS.sort()
startR.sort()
endR.sort()


print(startY)
print(endY)
print(startS)
print(endS)
print(startR)
print(endR)

[0, 51, 2052]
[23, 81]
[1, 51, 815, 2052, 2071, 2073, 2083, 2099, 2102]
[23, 76, 821, 2069, 2072, 2082, 2098, 2101]
[2, 51, 518, 814, 826, 1559, 2052, 2071, 2099]
[23, 80, 524, 825, 831, 1572, 2070, 2098]

In [313]:
#dfs.insert(9, "S(spyling?)", "")

for spyl in range(len(endS)):           
    dfs.loc[startS[spyl]:endS[spyl],"S(spyling?)"] = '1'
dfs.loc[startS[-1]:,"S(spyling?)"] = '1'

dfs

,Dybde,Trykk,Bortid,Spyle,5,6,7,8,9,S(spyling?)
0,0.025,669,802,60,Y1,Tele/Matjord,None,None,None,
1,0.050,4987,778,7,S1,,None,None,None,1
2,0.075,7818,787,14,R1,,None,None,None,1
3,0.100,3206,756,235,,None,None,None,None,1
4,0.125,7257,767,13,,None,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...
2108,52.725,18664,1186,151,,None,None,None,None,1
2109,52.750,16285,1131,240,,None,None,None,None,1
2110,52.775,19164,1324,321,Uppdragning:,Medelkraft=2,None,None,None,1
2111,52.800,1388,39,336,,Stopp,mot,f�rmodat,be,1
2112,None,None,None,None,None,None,None,None,None,1

In [418]:
import pandas as pd
import numpy as np

csv_file = 'SS-12026.SND'
df0 = pd.read_csv(csv_file)
borid = csv_file.split('.')[0]

#Find out where the data starts
startIndex = np.where(df0[df0.columns[0]].str.contains(borid))[0].item(0)
df = df0.drop(df0.index[:startIndex+1])
df.reset_index(inplace=True)
df = df.iloc[: , 1:]

# Remove spaces
df[df.columns[0]] = df[df.columns[0]].str.replace(" ","Z")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Z","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Q"," ")

# Make columns 
dfs = df[df.columns[0]].str.split(' ', expand=True)
dfs = dfs.iloc[:, 1:]

dfs.columns = ['Dybde', 'Trykk', 'Bortid', 'Spyle', '5','6','7','8','9']

#dfs.insert(9, "S(spyling?)", "")
#dfs.insert(10, "R(rotasjon?)", "")
#dfs.insert(11, "Y(Slag?)", "")

# Find indexes for start and stop flushing etc.
startY = []
endY = []
startS = []
endS = []
startR = []
endR = []
for col in dfs.columns:
    startY.extend(np.where(dfs[col].str.contains('Y1'))[0].tolist())
    endY.extend(np.where(dfs[col].str.contains('Y2'))[0].tolist())
    startS.extend(np.where(dfs[col].str.contains('S1'))[0].tolist())
    endS.extend(np.where(dfs[col].str.contains('S2'))[0].tolist())
    startR.extend(np.where(dfs[col].str.contains('R1'))[0].tolist())
    endR.extend(np.where(dfs[col].str.contains('R2'))[0].tolist())
startY.sort()
endY.sort()
startS.sort()
endS.sort()
startR.sort()
endR.sort()

# Add binary values for hammering, rotation and flushing. 1 = on 0 = off.

for spyl in range(len(endS)):           
    dfs.loc[startS[spyl]:endS[spyl],"S(spyling?)"] = '1'
dfs.loc[startS[-1]:,"S(spyling?)"] = '1'

for rot in range(len(endR)):
    dfs.loc[startR[rot]:endR[rot],"R(rotasjon?)"] = '1'
dfs.loc[startR[-1]:,"R(rotasjon?)"] = '1'

for slag in range(len(endY)):
    dfs.loc[startY[slag]:endY[slag],"Y(slag?)"] = '1'
dfs.loc[startY[-1]:, "Y(slag?)"] = '1'

dfs = dfs.fillna(0)
dfs.replace(0, '0')

newdf = dfs[['Dybde', 'Trykk', 'Bortid', 'Spyle', 'S(spyling?)', 'R(rotasjon?)', 'Y(slag?)']]

for i in range(5,10):
    dfs[str(i)] = dfs[str(i)].values.astype(str)
    dfs[str(i)] = dfs[str(i)].replace('0', '')
dfs['kommentarer'] = dfs[['5', '6', '7', '8', '9']].agg(' '.join, axis=1)
kommentarer = dfs['kommentarer'].to_frame()

In [420]:
newdf.iloc[0:60]

    Dybde  Trykk Bortid Spyle S(spyling?) R(rotasjon?) Y(slag?)
0   0.025    669    802    60           0            0        1
1   0.050   4987    778     7           1            0        1
2   0.075   7818    787    14           1            1        1
3   0.100   3206    756   235           1            1        1
4   0.125   7257    767    13           1            1        1
5   0.150   7501    863    14           1            1        1
6   0.175   6903   1038    16           1            1        1
7   0.200   1132   1053    29           1            1        1
8   0.225   2206   1037    17           1            1        1
9   0.250    778   1006    39           1            1        1
10  0.275   4597    839     8           1            1        1
11  0.300   5268    824    10           1            1        1
12  0.325   5122    813    10           1            1        1
13  0.350   4548    797     8           1            1        1
14  0.375   2901    780     6           1            1        1
15  0.400   1547    761     5           1            1        1
16  0.425   1096    744     4           1            1        1
17  0.450   1303    723     4           1            1        1
18  0.475   1120    686     4           1            1        1
19  0.500   1047    662     4           1            1        1
20  0.525    693    637     4           1            1        1
21  0.550    864    622     4           1            1        1
22  0.575    730    605     4           1            1        1
23  0.600   3389     13    44           1            1        1
24  0.625   4670      9     5           0            0        0
25  0.650   7708      8     4           0            0        0
26  0.675   9843      8     4           0            0        0
27  0.700  10929      7     4           0            0        0
28  0.725  12246      6     4           0            0        0
29  0.750  12271      6     4           0            0        0
30  0.775  12991      5     4           0            0        0
31  0.800  13625      5     4           0            0        0
32  0.825  14333      4     4           0            0        0
33  0.850  14723      5     4           0            0        0
34  0.875  15004      4     4           0            0        0
35  0.900  14882      3     4           0            0        0
36  0.925  14918      4     4           0            0        0
37  0.950  15296      4     4           0            0        0
38  0.975  15711      3     4           0            0        0
39  1.000  16626      4     4           0            0        0
40  1.025  17200      4     4           0            0        0
41  1.050  18090      4     4           0            0        0
42  1.075  19408      4     4           0            0        0
43  1.100  21409      4     4           0            0        0
44  1.125  20335      4     4           0            0        0
45  1.150  21701      4     4           0            0        0
46  1.175  24751      4     4           0            0        0
47  1.200  28729      3     4           0            0        0
48  1.225  35756      4     4           0            0        0
49  1.250  39733      4     4           0            0        0
50  1.275  40770      4     4           0            0        0
51  1.300   3670    597    40           1            1        1
52  1.325   7183    568    40           1            1        1
53  1.350   4670    521    51           1            1        1
54  1.375   1291    431    50           1            1        1
55  1.400   2572    424    41           1            1        1
56  1.425   8428    418    38           1            1        1
57  1.450   9294    423    29           1            1        1
58  1.475   8928    432    32           1            1        1
59  1.500   8660    444    30           1            1        1

In [419]:
kommentarer

                       kommentarer
0               Y1 Tele/Matjord
1                           S1
2                           R1
3
4
...                            ...
2108
2109
2110  Uppdragning: Medelkraft=2
2111         Stopp mot f�rmodat be
2112

[2113 rows x 1 columns]

In [401]:
for i in range(5,10):
    dfs[str(i)] = dfs[str(i)].values.astype(str)
    dfs[str(i)] = dfs[str(i)].replace('0', '')

In [402]:
dfs['kommentarer'] = dfs[['5', '6', '7', '8', '9']].agg(' '.join, axis=1)
dfs

,Dybde,Trykk,Bortid,Spyle,5,6,7,8,9,S(spyling?),R(rotasjon?),Y(Slag?),Y(slag?),kommentarer
0,0.025,669,802,60,Y1,Tele/Matjord,,,,,,,1,Y1 Tele/Matjord
1,0.050,4987,778,7,S1,,,,,1,,,1,S1
2,0.075,7818,787,14,R1,,,,,1,1,,1,R1
3,0.100,3206,756,235,,,,,,1,1,,1,
4,0.125,7257,767,13,,,,,,1,1,,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,52.725,18664,1186,151,,,,,,1,1,,1,
2109,52.750,16285,1131,240,,,,,,1,1,,1,
2110,52.775,19164,1324,321,Uppdragning:,Medelkraft=2,,,,1,1,,1,Uppdragning: Medelkraft=2
2111,52.800,1388,39,336,,Stopp,mot,f�rmodat,be,1,1,,1,Stopp mot f�rmodat be
2112,0,0,0,0,,,,,,1,1,,1,

In [400]:
dfs.iloc[0:60]

,Dybde,Trykk,Bortid,Spyle,5,6,7,8,9,S(spyling?),R(rotasjon?),Y(Slag?),Y(slag?),kommentarer
0,0.025,669,802,60,Y1,Tele/Matjord,,,,,,,1,Y1 Tele/Matjord
1,0.050,4987,778,7,S1,,,,,1,,,1,S1
2,0.075,7818,787,14,R1,,,,,1,1,,1,R1
3,0.100,3206,756,235,,,,,,1,1,,1,
4,0.125,7257,767,13,,,,,,1,1,,1,
5,0.150,7501,863,14,,,,,,1,1,,1,
6,0.175,6903,1038,16,,,,,,1,1,,1,
7,0.200,1132,1053,29,,,,,,1,1,,1,
8,0.225,2206,1037,17,,,,,,1,1,,1,
9,0.250,778,1006,39,,,,,,1,1,,1,
10,0.275,4597,839,8,,,,,,1,1,,1,
11,0.300,5268,824,10,,,,,,1,1,,1,
12,0.325,5122,813,10,,,,,,1,1,,1,
13,0.350,4548,797,8,,,,,,1,1,,1,
14,0.375,2901,780,6,,,,,,1,1,,1,
15,0.400,1547,761,5,,,,,,1,1,,1,
16,0.425,1096,744,4,,,,,,1,1,,1,
17,0.450,1303,723,4,,,,,,1,1,,1,
18,0.475,1120,686,4,,,,,,1,1,,1,
19,0.500,1047,662,4,,,,,,1,1,,1,
20,0.525,693,637,4,,,,,,1,1,,1,
21,0.550,864,622,4,,,,,,1,1,,1,
22,0.575,730,605,4,,,,,,1,1,,1,
23,0.600,3389,13,44,Y2,R2,S2,,,1,1,,1,Y2 R2 S2
24,0.625,4670,9,5,,,,,,,,,0,
25,0.650,7708,8,4,,,,,,,,,0,
26,0.675,9843,8,4,,,,,,,,,0,
27,0.700,10929,7,4,,,,,,,,,0,
28,0.725,12246,6,4,,,,,,,,,0,
29,0.750,12271,6,4,,,,,,,,,0,
30,0.775,12991,5,4,,,,,,,,,0,
31,0.800,13625,5,4,,,,,,,,,0,
32,0.825,14333,4,4,,,,,,,,,0,
33,0.850,14723,5,4,,,,,,,,,0,
34,0.875,15004,4,4,,,,,,,,,0,
35,0.900,14882,3,4,,,,,,,,,0,
36,0.925,14918,4,4,,,,,,,,,0,
37,0.950,15296,4,4,,,,,,,,,0,
38,0.975,15711,3,4,,,,,,,,,0,
39,1.000,16626,4,4,,,,,,,,,0,
40,1.025,17200,4,4,,,,,,,,,0,
41,1.050,18090,4,4,,,,,,,,,0,
42,1.075,19408,4,4,,,,,,,,,0,
43,1.100,21409,4,4,,,,,,,,,0,
44,1.125,20335,4,4,,,,,,,,,0,
45,1.150,21701,4,4,,,,,,,,,0,
46,1.175,24751,4,4,,,,,,,,,0,
47,1.200,28729,3,4,,,,,,,,,0,
48,1.225,35756,4,4,,,,,,,,,0,
49,1.250,39733,4,4,,,,,,,,,0,
50,1.275,40770,4,4,,,,,,,,,0,
51,1.300,3670,597,40,Y1,R1,S1,Uppdragning:,Me,1,1,,1,Y1 R1 S1 Uppdragning: Me
52,1.325,7183,568,40,40,Forekomst,av,grus/ste,,1,1,,1,40 Forekomst av grus/ste
53,1.350,4670,521,51,,,,,,1,1,,1,
54,1.375,1291,431,50,,,,,,1,1,,1,
55,1.400,2572,424,41,,,,,,1,1,,1,
56,1.425,8428,418,38,,,,,,1,1,,1,
57,1.450,9294,423,29,,,,,,1,1,,1,
58,1.475,8928,432,32,,,,,,1,1,,1,
59,1.500,8660,444,30,,,,,,1,1,,1,

In [412]:
import pandas as pd
import numpy as np

csv_file = 'SS-12026.SND'

df0 = pd.read_csv(csv_file)
borid = csv_file.split('.')[0]

#Find out where the data starts
startIndex = np.where(df0[df0.columns[0]].str.contains(borid))[0].item(0)
df = df0.drop(df0.index[:startIndex+1])
df.reset_index(inplace=True)
df = df.iloc[: , 1:]

# Remove spaces
df[df.columns[0]] = df[df.columns[0]].str.replace(" ","Z")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Z","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Q"," ")

# Make columns 
dfs = df[df.columns[0]].str.split(' ', expand=True)
dfs = dfs.iloc[:, 1:]

dfs.columns = ['Dybde', 'Trykk', 'Bortid', 'Spyle', '5','6','7','8','9']

dfs.insert(9, "S(spyling?)", "")
dfs.insert(10, "R(rotasjon?)", "")
dfs.insert(11, "Y(Slag?)", "")

# Find indexes for start and stop flushing etc.
startY = []
endY = []
startS = []
endS = []
startR = []
endR = []
for col in dfs.columns:
    startY.extend(np.where(dfs[col].str.contains('Y1'))[0].tolist())
    endY.extend(np.where(dfs[col].str.contains('Y2'))[0].tolist())
    startS.extend(np.where(dfs[col].str.contains('S1'))[0].tolist())
    endS.extend(np.where(dfs[col].str.contains('S2'))[0].tolist())
    startR.extend(np.where(dfs[col].str.contains('R1'))[0].tolist())
    endR.extend(np.where(dfs[col].str.contains('R2'))[0].tolist())
startY.sort()
endY.sort()
startS.sort()
endS.sort()
startR.sort()
endR.sort()


# Add binary values for hammering, rotation and flushing. 1 = on 0 = off.

for spyl in range(len(endS)):           
    dfs.loc[startS[spyl]:endS[spyl],"S(spyling?)"] = '1'
dfs.loc[startS[-1]:,"S(spyling?)"] = '1'

for rot in range(len(endR)):
    dfs.loc[startR[rot]:endR[rot],"R(rotasjon?)"] = '1'
dfs.loc[startR[-1]:,"R(rotasjon?)"] = '1'

for slag in range(len(endY)):
    dfs.loc[startY[slag]:endY[slag],"Y(slag?)"] = '1'
dfs.loc[startY[-1]:, "Y(slag?)"] = '1'

dfs = dfs.fillna(0)

# Final dataframe
newdf = dfs[['Dybde', 'Trykk', 'Bortid', 'Spyle', 'S(spyling?)', 'R(rotasjon?)', 'Y(slag?)']]
newdf.replace('', 0)


# Make own dataframe for comments 
for i in range(5,10):
    dfs[str(i)] = dfs[str(i)].values.astype(str)
    #dfs[str(i)] = dfs[str(i)].replace('0', '')

dfs['kommentarer'] = dfs[['5', '6', '7', '8', '9']].agg(' '.join, axis=1)
kommentarer = dfs['kommentarer'].to_frame()

In [413]:
newdf

       Dybde  Trykk Bortid Spyle S(spyling?) R(rotasjon?) Y(slag?)
0      0.025    669    802    60                                 1
1      0.050   4987    778     7           1                     1
2      0.075   7818    787    14           1            1        1
3      0.100   3206    756   235           1            1        1
4      0.125   7257    767    13           1            1        1
...      ...    ...    ...   ...         ...          ...      ...
2108  52.725  18664   1186   151           1            1        1
2109  52.750  16285   1131   240           1            1        1
2110  52.775  19164   1324   321           1            1        1
2111  52.800   1388     39   336           1            1        1
2112       0      0      0     0           1            1        1

[2113 rows x 7 columns]

In [421]:

csv_file = 'SS-12026.SND'
df0 = pd.read_csv(csv_file)
borid = csv_file.split('.')[0]

#Find out where the data starts
startIndex = np.where(df0[df0.columns[0]].str.contains(borid))[0].item(0)
df = df0.drop(df0.index[:startIndex+1])
df.reset_index(inplace=True)
df = df.iloc[: , 1:]

# Remove spaces
df[df.columns[0]] = df[df.columns[0]].str.replace(" ","Z")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("ZZ","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Z","Q")
df[df.columns[0]] = df[df.columns[0]].str.replace("Q"," ")

# Make columns 
dfs = df[df.columns[0]].str.split(' ', expand=True)
dfs = dfs.iloc[:, 1:]

dfs.columns = ['Dybde', 'Trykk', 'Bortid', 'Spyle', '5','6','7','8','9']

#dfs.insert(9, "S(spyling?)", "")
#dfs.insert(10, "R(rotasjon?)", "")
#dfs.insert(11, "Y(Slag?)", "")

# Find indexes for start and stop flushing etc.
startY = []
endY = []
startS = []
endS = []
startR = []
endR = []
for col in dfs.columns:
    startY.extend(np.where(dfs[col].str.contains('Y1'))[0].tolist())
    endY.extend(np.where(dfs[col].str.contains('Y2'))[0].tolist())
    startS.extend(np.where(dfs[col].str.contains('S1'))[0].tolist())
    endS.extend(np.where(dfs[col].str.contains('S2'))[0].tolist())
    startR.extend(np.where(dfs[col].str.contains('R1'))[0].tolist())
    endR.extend(np.where(dfs[col].str.contains('R2'))[0].tolist())
startY.sort()
endY.sort()
startS.sort()
endS.sort()
startR.sort()
endR.sort()

# Add binary values for hammering, rotation and flushing. 1 = on 0 = off.

for spyl in range(len(endS)):           
    dfs.loc[startS[spyl]:endS[spyl],"S(spyling?)"] = '1'
dfs.loc[startS[-1]:,"S(spyling?)"] = '1'

for rot in range(len(endR)):
    dfs.loc[startR[rot]:endR[rot],"R(rotasjon?)"] = '1'
dfs.loc[startR[-1]:,"R(rotasjon?)"] = '1'

for slag in range(len(endY)):
    dfs.loc[startY[slag]:endY[slag],"Y(slag?)"] = '1'
dfs.loc[startY[-1]:, "Y(slag?)"] = '1'

dfs = dfs.fillna(0)
dfs.replace(0, '0')

newdf = dfs[['Dybde', 'Trykk', 'Bortid', 'Spyle', 'S(spyling?)', 'R(rotasjon?)', 'Y(slag?)']]

for i in range(5,10):
    dfs[str(i)] = dfs[str(i)].values.astype(str)
    dfs[str(i)] = dfs[str(i)].replace('0', '')
dfs['kommentarer'] = dfs[['5', '6', '7', '8', '9']].agg(' '.join, axis=1)
kommentarer = dfs['kommentarer'].to_frame()

In [422]:
newdf

       Dybde  Trykk Bortid Spyle S(spyling?) R(rotasjon?) Y(slag?)
0      0.025    669    802    60           0            0        1
1      0.050   4987    778     7           1            0        1
2      0.075   7818    787    14           1            1        1
3      0.100   3206    756   235           1            1        1
4      0.125   7257    767    13           1            1        1
...      ...    ...    ...   ...         ...          ...      ...
2108  52.725  18664   1186   151           1            1        1
2109  52.750  16285   1131   240           1            1        1
2110  52.775  19164   1324   321           1            1        1
2111  52.800   1388     39   336           1            1        1
2112       0      0      0     0           1            1        1

[2113 rows x 7 columns]